/* default styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: font;
    src: url(/content/Gill-Sans-WGL.ttf);
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: font;
    
}

.sect1 {
    position: relative;
    color: white;
    top: 0%; 
}

.img-top {
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 100%;
    z-index: 1; /* set a higher z-index value */
    filter: shadow(10px);
    z-index: -1;
}

#winkelwagen {
    font-size: 1.2rem;
}


#winkelwagen-all {
    border: 1px solid black;
    height: fit-content;
    min-height: 5rem;
    position: absolute;
    top: 3rem;
    margin-left: 70rem;
    width: 30rem;
    background: rgb(235,225,212);
    
}

#btn-bestel {
    padding: 1rem 4rem;
    background: rgb(141, 97, 61);
    border: black 1px solid;
    color: white;
    position: relative;
    font-size: 130%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 1 / 2 / 2 / 3; }
    .div7 { grid-area: 2 / 2 / 3 / 3; }
    .div8 { grid-area: 3 / 2 / 4 / 3; }
    .div9 { grid-area: 4 / 2 / 5 / 3; }
    .div10 { grid-area: 5 / 2 / 6 / 3; }

#btn-bestel:hover {
    background: rgb(110, 76, 49);
}

#totaal-prijs {
    position: relative;  
    margin-top: 10rem;
    left: 1rem;
    font-size: 130%;
          
}

#totaal-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.plus {
    width: 3%;
    position: relative;
    float: right;
    bottom: 1.3rem;
}

.plus:hover {
    content: url(../img/vink.png);
    width: 3%;
}

.min {
    width: 3%;
    position: relative;
    float: right;
    left: 3%;
    top: 0.5rem;
}

.min:hover {
    content: url(../img/kruis.png);
}

.hoofd-tekst {
    position: relative;
    top: 22rem;
    left: 44.5%;
    font-size: 5rem;
    filter: drop-shadow(2px 2px 2px black);
}

.setc2 {
    position: relative;
    margin-top: 30rem; /* add a margin-top value */
    width: 100%;
    background: white;
    padding-top: 4rem;
    padding-left: 2%;
    padding-bottom: 1% ;
    height: fit-content;
}

.menu-head-1 {
    font-size: 300%;
}

#hoofd-tekst {
    position: relative;
    margin-top: 3rem;
}

.menu-2 > .item {
    max-width: 30%;
}

.item {
    color: black;
    padding: 0.5% 0.5% 0.5% 7%;
    width: 30rem;
    margin-bottom: 2%;
    background: rgb(235,225,212);
    border-radius: 20px;
    z-index: 1;
    clear: right;
    display: block;
}

.item-tekst {
    position: relative;
    top: 0.8rem;
    font-weight: bold;
}

.item-tekst-nl {
    font-size: 80%;
    font-weight: normal;
}

.item-price {
    text-align: right;
    position: relative;
    bottom: 0.6rem;
    font-size: 100%;
}

#btn-winkelwagen {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    background-color: #ffbf00;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    /* styles for devices with a maximum width of 768px */
    .hoofd-tekst {
        font-size: 3rem;
        left: 35%;
        top: 9rem;
    }
    
    .setc2 {
        width: 80%;
        left: 10%;
        right: auto;
        background: white;
    }
    
    #winkelwagen-all {
        display: none;
    }

    #btn-winkelwagen {
        display: block;
    }
}

#bedankt-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

#bedankt-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    height: 100vh;
}